$primaryColor: #AF130E; 
$secondaryColor: #B23F61;
$accentColor: #7C287B;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;